<!--scripts-->

<meta charset="utf-8">
<title>Democritus</title>

<!--css styles-->
<link rel="stylesheet" media="screen" href="css/style.css">
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet" />

<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>

    <div class="container">
      <h3>New Poll</h3>
                <h2>{{ Insert question here }}</h2>
                <ul>
                  <li><input name="poll_value" type="radio" value="option 1" />Option 1</li>
                  <li><input name="poll_value" type="radio" value="option 1" />Option 2</li>
                  <li><input name="poll_value" type="radio" value="option 1" />Option 3</li>
                  <li><input name="poll_value" type="radio" value="option 1" />Option 4</li>
                </ul>
                <div class="btn-submit">
                    <span>Submit</span>
                    <div class="rotate"></div>
                  </div>
      </div>

  <!-- particles.js container -->
  <div id="particles-js"></div>

  <!-- scripts -->
  <script src="../particles.js"></script>
  <script src="js/app.js"></script>

</body>

</html>